.idea
streamlit_pdf_viewer/frontend/node_modules
streamlit_pdf_viewer/frontend/.idea
venv
dist
/frontend/dist
streamlit_pdf_viewer/frontend/package-lock.json
streamlit_pdf_viewer.egg-info
streamlit_pdf_viewer/__pycache__/
tests/__pycache__