name: Build unstable

on: [ push, pull_request ]

concurrency:
  group: unstable
#  cancel-in-progress: true


jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [ '3.10', '3.11', '3.12', '3.13']
        node-version: [ 18, 20 ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node-version}}
      - name: build frontend
        run: |
          cd streamlit_pdf_viewer/frontend/
          npm install
          npm run build
      - name: Cleanup more disk space
        run: | 
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc 
          sudo rm -rf "/usr/local/share/boost" 
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade flake8 pytest==8.3.5 pycodestyle
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Build Python backend
        run: | 
          pip install build 
          python -m build
      - name: Test with pytest
        run: |          
          pip install playwright==1.52.0 pytest-playwright==0.7.0 pytest==8.3.5 pytest-github-actions-annotate-failures pytest-cov==6.2.1
          playwright install chromium firefox
          pytest --cov=streamlit_pdf_viewer --cov-report xml
      - name: Coveralls
        uses: coverallsapp/github-action@v2
